<header class="container-fluid bg-black p-3 d-flex align-items-center justify-content-between">
  <img src="../../assets/logo-advise.png">
  <div class="d-flex align-items-center justify-content-between">
    <p class="text-white mb-0 me-3">Olá Nome SobreNome</p>
    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 9L0.803849 -9.78799e-07L11.1962 -7.02746e-08L6 9Z" fill="white"/>
    </svg>
  </div>
</header>
<app-pagination></app-pagination>
<footer class="container-fluid bg-black p-3"></footer>