/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

*{
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

body{
  background-color: #F4F4F4;
}

h1{
  font-size: 34px;
}

h2{
  font-size: 22px;
}

h4{
  font-size: 16px;
}

p{
  font-size: 14px;
  color: #000000DE;
  ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media screen and (max-width: 768px) {
  h1{
    font-size: 28px;
  }

  h4{
    font-size: 24px;
  }
  
}